.sulsul {
    width: calc(100% - 220px); 
    display: block; 
    margin: 0 auto;
    height: auto; 
    padding: 0; 
}
h3 {
    width: calc(100% - 220px);
    display: block;
    margin: 0 auto;
    padding: 0;
}